@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v21-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-300.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v21-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-regular.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v21-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-600.ttf') format('truetype');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v21-latin-900.woff2') format('woff2'),
    url('../fonts/poppins-v21-latin-900.ttf') format('truetype');
}

:root{
    --color-primary-dark: #31261A;
    --color-primary-light: #FAF4EA;
    --color-brand-normal: #819B57;
    --color-brand-dark: #465929;
    --color-brown-light: #A18268;
    --color-brand-light: #cfcfbc; 
    
}

/* Base */

*, *::after, *::before{
    box-sizing: border-box;
}


body{
    color: var(--color-primary-dark);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    background-color: var(--color-primary-light);
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
}

address{
    font-style: normal;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    display: inline-block;
}

.section{
    padding: 48px 0;
}

.container{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Header */

.header-container{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 40px   ;
}

.header-menu{
    display: flex;
    flex-direction: row;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

/* Button */
.button{
    padding: 16px 32px;
    border-radius: 8px;
    font-weight: 600;
    border: 2px solid var(--color-brand-normal);
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}

/* Link */
.link{
    text-decoration: none;
    color: var(--color-primary-light);
}

.link:hover {
    color: var(--color-brand-normal);
}

/* Hero section */
.hero-title{
    margin-bottom: 0;
    color: var(--color-primary-light);
    font-weight: 900;
    text-align: center;
    font-size: 128px;
}

.hero-title .accent{
    color: var(--color-brand-normal);
}

.hero-section{
    padding: 272px 0;
    background-image:  url('../images/hero-section-background.jpg');
    background-repeat: no-repeat; 
    background-position: center top;
    background-size: cover;
}

 

/* Our advantages */

.visually-hidden{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Advantages section */

.advanteges-section{
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}

.advanteges-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.advanteges-item{
    font-weight: 300;
    font-size: 20px;
    color: var(--color-primary-light);
}

/* Tradition section */

.tradition-content{
    max-width: 710px;
}

.traditions-container{
    display: flex;
    gap: 100px;
    justify-content: space-between;
    gap: 40px;
    padding-top: 96px;
}

.tradition-title{
    margin-bottom: 42px;
}

.traditions-section {
    padding-top: 0;
}

.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title.centered {
    text-align: center;
}

.section-title .accent{
    color: var(--color-brand-dark);
}

.traditions-text .brand-color-text{
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-text .brand-color-text.uppercase {
    text-transform: uppercase;
}

.traditions-text.limited{
    max-width: 360px;
}

/* Chefs section */

.chef-title{
    max-width: 520px;
    margin: 0 auto 80px;
}

.chef-image{
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-brown-light);
}

.chef-title::before, .chef-title::after {
    display: block;
    content: '';
    width: 352px;
    border: 2px solid var(--color-brand-light);

}

.chefs-title{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 16px;
}

.chef-list{
    display: flex;
    gap: 40px 30px;
    flex-wrap: wrap ;
}

.chefs-item{
    flex-basis: calc((100% - 30px)/2);
}

.chef-card{
    display: flex;
    gap: 30px;
}

.chef-text p{
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

/* Formats-section */

.formats-container{
    display: flex;
    align-items: center;
    gap: 32px;
}

.format-card{
    height: 444px;
    border-radius: 16px;
    border: 1px solid black;  /*remove*/
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
}

.formats-list{
    display: flex;
    gap: 20px;
}

.formats-item{
    flex-basis: calc((100%- 40px) / 3);
}

.formats-title{
    margin-bottom: 80px;
}

.format-title{
    font-weight: 600;
    font-size: 24px;
}

.format-text{
    font-weight: 300;
    font-size: 14px;
}

.format-text p{
    width: 300px; /*??????*/
}

/* Carousel */

.carousel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    fill: var(--color-primary-dark);
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
}

.carousel-button:hover{
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}


/* Contact section */

.contact-section{
    padding-bottom: 96px;
}

.contact-container{
    display: flex;
    gap: 32px;
}

.contact-map{
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contact-title{
    margin-bottom: 16px;
}

/* Footer */

.footer{
    background-image: url('../images/footer-background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--color-primary-dark);
    padding: 32px 0;

}

.footer-container{
    display: flex;
    gap: 20px;
}

.footer-nav{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-logo{
    flex-basis: 50%;
}

.footer-menu{
    flex-basis: 50%;
}

.footer-address{
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.address-link{
    font-weight: 300;
    font-size: 16px;
    color: var(--color-primary-light);
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-icon{
    fill: var(--color-primary-light);
}

.address-icon:hover {
    fill: var(--color-brand-normal);
}

.address-copyright{
    font-size: 14px;
    color: var(--color-brown-light);
    margin-bottom: 0;
}

.address-list{
    flex-basis: 50%;
}

.address-info{
    flex-basis: 50%;
}

